/* The `@tailwind base;`, `@tailwind components;`, and `@tailwind utilities;` directives are used in
Tailwind CSS to include the base styles, component classes, and utility classes respectively. */
@tailwind base;
@tailwind components;
@tailwind utilities;
